:root {
	--pblue: #003b6f;
	--lpblue: hsl(208, 100%, 40%);
	--dpblue: hsl(208, 100%, 12%);
}
html {
	scroll-padding-top: 3rem;
}
* {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: none;
}

#navbar {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: var(--pblue);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#logo {
	display: flex;
	margin-left: 1em;
}
#logo img {
	width: 2em;
	height: 2em;
	border-radius: 50%;
}
#logo h1 {
	margin-left: 0.5em;
	color: white;
}
.nav_buttons {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-end;
	height: 3rem;
	align-items: center;
}
.button {
	text-decoration: none;
	background-color: var(--dpblue);
	color: white;
	padding: 0.5rem 2em;
	margin-right: 1rem;
	border-radius: 10px;
}
.button:hover {
	background-color: var(--lpblue);
}

main {
	background-color: var(--lpblue);
	padding-top: 4em;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 0 auto;
	color: white;
}
#about {
	display: flex;
	justify-content: space-around;
	flex: 1 0 auto;
	flex-wrap: wrap;
}
#about > div {
	margin-bottom: 1em;
	flex-basis: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.description {
	text-indent: 50px;
}
#minid {
	font-style: italic;
}
#about h1 {
	font-size: 2rem;
}
#about h2 {
	font-size: 1.5rem;
}
#preview {
	display: block;
	width: 100%;
}
.sub_heading {
	margin-top: 1rem;
	/* align-self: flex-start; */
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}
.sub_heading2 {
	font-size: 1.15rem;
	align-self: flex-start;
}
.stack_container {
	display: flex;
	flex-wrap: wrap;
}
.stack_cotainer p {
	text-indent: 0;
	text-align: center;
}
.tech_icon_container > svg {
	width: 120px;
	height: 120px;
}

#contact {
	width: 100%;
	background-color: var(--pblue);
	height: 8rem;
}
#contact h2 {
	padding: 1rem 0;
	text-align: center;
	color: hsl(208, 100%, 90%);
}
#contact div {
	display: flex;
	justify-content: space-evenly;
}
#contact .button {
	justify-self: center;
	align-self: center;
}
.contact_logo {
	height: 1rem;
	padding-right: 0.1em;
}
footer {
	background-color: hsl(208, 100%, 6%);
	color: white;
	text-align: center;
	font-size: small;
	font-weight: lighter;
	padding: 1em;
	font-style: italic;
}
@media (max-width: 768px) {
	#about {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
}
