:root {
	--pblue: #003b6f;
	--lpblue: hsl(208, 100%, 40%);
	--dpblue: hsl(208, 100%, 12%);
}
html {
	scroll-padding-top: 3rem;
}
* {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: none;
}
#navbar {
	position: fixed;
	/* box-sizing: border-box;
	padding: 0 1em; */
	width: 100%;
	top: 0;
	background-color: var(--pblue);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#logo {
	display: flex;
	margin-left: 1em;
	padding: 0.5em 0;
}
#logo img {
	width: 2em;
	height: 2em;
	border-radius: 50%;
}
#logo h1 {
	color: white;
}
.nav_buttons {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-end;
	height: 3rem;
	align-items: center;
}
.nav_buttons div {
	overflow: hidden;
}
.button {
	text-decoration: none;
	background-color: var(--dpblue);
	color: white;
	padding: 0.5rem 2em;
	margin-right: 1rem;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.nav_buttons a {
	color: white;
}
.button:hover {
	background-color: var(--lpblue);
}
#welcome-section {
	background: linear-gradient(90deg, #0d0208, #003b00, #008f11);
	color: #f1fff4;
	text-align: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/* text-shadow: 2px 2px 2px rgb(13, 2, 8, 0.5); */
}

#welcome-section div {
	font-size: 3rem;
	margin: auto;
}

#projects {
	background-color: var(--lpblue);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1.5rem 0;
	align-items: flex-start;
}
#projects h2 {
	color: aliceblue;
	font-size: 2.5rem;
	flex-basis: 100%;
	text-align: center;
	margin-bottom: 1em;
}
#project-tile {
	margin-bottom: 1em;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5em 0;
	box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}
#project-tile:hover {
	opacity: 0.8;
	transition: 0.5 ease;
	border: 10px, solid hsl(208, 100%, 6%);
}
#project-tile h3 {
	text-align: center;
	color: aliceblue;
	font-size: 1.5rem;
}
#project-tile:hover h3 {
	color: rgb(156, 192, 192);
	font-size: 2rem;
}

#project-tile img {
	display: block;
	width: 300px;
	height: auto;
	margin: 0.4em auto;
}
#project-tile:hover img {
	width: 350px;
	height: auto;
}
#project-tile figcaption {
	text-align: center;
	color: white;
	font-size: 1rem;
}
#project-tile:hover figcaption {
	color: rgb(156, 192, 192);
	font-size: 1.5rem;
}
#contact {
	background-color: var(--pblue);
	height: 8rem;
}
#contact h2 {
	padding: 1rem 0;
	text-align: center;
	color: hsl(208, 100%, 90%);
}
#contact div {
	display: flex;
	justify-content: space-evenly;
}
#contact div a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}
#contact .button {
	justify-self: center;
	align-self: center;
}
.contact_logo {
	height: 1rem;
	padding-right: 0.1em;
}
footer {
	background-color: hsl(208, 100%, 6%);
	color: white;
	text-align: center;
	font-size: small;
	font-weight: lighter;
	padding: 1em;
	font-style: italic;
}

.menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: #fff;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 0.125rem;
	margin-right: 2em;
}

.menu-button::before {
	content: "";
	margin-top: -0.5rem;
}

.menu-button::after {
	content: "";
	margin-top: 0.5rem;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-45deg);
}
@media (max-width: 650px) {
	#projects {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	#project-tile img {
		display: block;
		width: 80%;
		height: auto;
		margin: 0.4em auto;
	}
	#project-tile:hover img {
		width: 90%;
		height: auto;
	}

	.menu-button-container {
		display: flex;
	}
	.nav_buttons {
		position: absolute;
		top: 0;
		margin-top: 3rem;
		left: 0;
		flex-direction: column;
		height: auto;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	#menu-toggle ~ .nav_buttons div {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	#menu-toggle:checked ~ .nav_buttons div {
		border: 1px solid #333;
		height: 2.5rem;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.nav_buttons > div {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0;
		width: 100%;
	}
	.nav_buttons a {
		width: 100%;
		text-align: center;
	}
	.nav_buttons > div:not(:last-child) {
		border-bottom: 1px solid #444;
	}
}
@media (max-width: 500px) {
	#project-tile {
		width: 95%;
	}
	#contact {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	#contact > div {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#contact div a {
		width: 80%;
		margin: auto;
		margin-bottom: 0.5em;
		text-align: center;
	}
	#contact .button {
		padding-left: 0;
		padding-right: 0;
	}
}
