:root {
	--pblue: #003b6f;
	--lpblue: hsl(208, 100%, 40%);
	--dpblue: hsl(208, 100%, 12%);
}
html {
	scroll-padding-top: 3rem;
}
* {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: none;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: white;
}
p {
	text-indent: 50px;
}
#navbar {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: var(--pblue);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#logo {
	display: flex;
	margin-left: 1em;
}
#logo img {
	width: 2em;
	height: 2em;
	border-radius: 50%;
}
#logo h1 {
	margin-left: 0.5em;
	color: white;
}

#navbar ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	height: 3rem;
}
#navbar li {
	display: inline;
	margin-top: 1rem;
}
.button {
	text-decoration: none;
	background-color: var(--dpblue);
	color: white;
	padding: 0.5rem 2em;
	margin-right: 1rem;
	border-radius: 10px;
}
.button:hover {
	background-color: var(--lpblue);
}

main {
	background-color: var(--lpblue);
	padding: 4rem 0em;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 0 auto;
}
#project {
	display: flex;
	justify-content: space-around;
	flex: 1 0 auto;
}
#name {
	font-size: 3rem;
}
#description {
	margin: 1em;
	font-size: 1rem;
}

#preview {
	display: block;
	width: 100%;
}
#Plink {
	margin: 0.2em;
	min-height: 2.5rem;
	font-size: 1.5rem;
}
#link {
	color: hsl(300, 76%, 19%);
	font-weight: bold;
}
#link:hover {
	color: hsl(207, 60%, 6%);
	font-weight: 800;
}
#project > div {
	margin-bottom: 1em;
	flex-basis: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#ytplayer {
	width: 80vw;
	height: 45vw;
}
#contact {
	background-color: var(--pblue);
	height: 8rem;
}
#contact h2 {
	padding: 1rem 0;
	text-align: center;
	color: hsl(208, 100%, 90%);
}
#contact div {
	display: flex;
	justify-content: space-evenly;
}
#contact .button {
	justify-self: center;
	align-self: center;
}
.contact_logo {
	height: 1rem;
	padding-right: 0.1em;
}
#pageNav {
	color: aliceblue;
	justify-self: flex-end;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
#pageNav a {
	color: aliceblue;
	width: 6em;
}
#pageNav a:hover {
	color: rgb(156, 192, 192);
	font-weight: bold;
}
footer {
	justify-self: flex-end;
	background-color: hsl(208, 100%, 6%);
	color: white;
	text-align: center;
	font-size: small;
	font-weight: lighter;
	padding: 1em;
	font-style: italic;
}

@media (max-width: 768px) {
	#project {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	#ytplayer {
		width: 100vw;
		height: 56.25vw;
	}
}
